In [55]:

print("Hello World")

Hello World

In [56]:
3+3

6

In [57]:
# exercise 1

my_name = "Satomi"
my_name

'Satomi'

In [58]:
# exercise 2
age = 43
age

43

In [59]:
# exercise 3

julia_age = 32
age_diff = age - julia_age
age_diff

11

In [60]:
# exercise 4

if age >= 21:
    print("You are older than 21")
else:
    print("You are not older than 21")

You are older than 21

In [61]:
# exercise 5

if age > julia_age:
    print("Julia is younger than you")
elif age == julia_age:
    print("You have the same age as Julia")
else:
    print("Julia is older than you")

Julia is younger than you

In [62]:
# exercise 6

mylist = ["Killian", "Arjuzn", "Satomi", "Valentina", "Marzieh", "Muayad", "Marjila"]
print(mylist)

['Killian', 'Arjuzn', 'Satomi', 'Valentina', 'Marzieh', 'Muayad', 'Marjila']

In [63]:
# exercise 6
# sort the list alphabetically. sorted()
sorted(mylist)

['Arjuzn', 'Killian', 'Marjila', 'Marzieh', 'Muayad', 'Satomi', 'Valentina']

In [64]:
sorted_mylist = sorted(mylist)
print(sorted_mylist[0])
print(sorted_mylist[-1])

Arjuzn
Valentina

In [65]:
# exercise 6 (print all the elements of teÂ´he list(use "for" loop))
for n in sorted_mylist:
    print(n)

Arjuzn
Killian
Marjila
Marzieh
Muayad
Satomi
Valentina

In [66]:
# exercise 7
students_age = [31,32,33,34,35,36,37,38]
for i in students_age:
    print(i)

31
32
33
34
35
36
37
38

In [67]:
students_age = [31,32,33,34,35,36,37,38]
for i in students_age:
    if i % 2 == 0:
        print(i)

32
34
36
38

In [68]:
# do the same in while loop

students_age = [31,32,33,34,35,36,37,38]
num = 0
while num < len(students_age):
    if students_age[num] % 2 == 0:
        print(students_age[num], end = " ")
    num += 1

32 34 36 38

In [69]:
# exercise 8 & 9

l = [10, 15, 13, 199, 25, 35, 43, 69, 98, 287]
print(max(l))
print(min(l))

287
10

In [70]:
# exercise 10
birth_year = [1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]
for i in  birth_year:
    print(2022 - i)

23
27
17
12
15
16
28
26
43
14

In [71]:
# exercise 11
customer_list = [
    {"name":"Bob", "age": 1999},
    {"name":"Jack", "age": 1995},
    {"name":"Lisa", "age": 2005},
    {"name":"Maria", "age": 2010},
    {"name":"Ben", "age": 2007},
    {"name":"Emma", "age": 2006},
    {"name":"Oscar", "age": 1994},
    {"name":"Amy", "age": 1996},
    {"name":"Paul", "age": 1979},
    {"name":"Etta", "age": 2008},
    
]

In [72]:
print(customer_list[0])

{'name': 'Bob', 'age': 1999}

In [73]:
print(customer_list[0]["name"])

Bob

In [74]:
print(customer_list[0]["age"])

1999

In [75]:
current_age = 2022 - customer_list[0]["age"]
current_age

23

In [76]:

for customer in customer_list:
    name = customer["name"]
    age = 2022 - customer["age"]
    print(f"{name} is {age} years old")

Bob is 23 years old
Jack is 27 years old
Lisa is 17 years old
Maria is 12 years old
Ben is 15 years old
Emma is 16 years old
Oscar is 28 years old
Amy is 26 years old
Paul is 43 years old
Etta is 14 years old

In [77]:
import datetime
today = datetime.date.today()
year = today.year
for customer in customer_list:
    name = customer["name"]
    age = year - customer["age"]
    print(f"{name} is {age} years old")

Bob is 23 years old
Jack is 27 years old
Lisa is 17 years old
Maria is 12 years old
Ben is 15 years old
Emma is 16 years old
Oscar is 28 years old
Amy is 26 years old
Paul is 43 years old
Etta is 14 years old

In [78]:
num = 0
while num < len(customer_list):
    customer = customer_list[num]
    name = customer["name"]
    age = 2022 - customer["age"]
    print(f"{name} is {age} years old")
    num += 1

Bob is 23 years old
Jack is 27 years old
Lisa is 17 years old
Maria is 12 years old
Ben is 15 years old
Emma is 16 years old
Oscar is 28 years old
Amy is 26 years old
Paul is 43 years old
Etta is 14 years old

In [79]:
l_name = [d.get("name") for d in customer_list]
print(l_name)

['Bob', 'Jack', 'Lisa', 'Maria', 'Ben', 'Emma', 'Oscar', 'Amy', 'Paul', 'Etta']

In [80]:
l_age = [d.get("age") for d in customer_list]
print(l_age)

[1999, 1995, 2005, 2010, 2007, 2006, 1994, 1996, 1979, 2008]

In [81]:
# exercise 12: remove the youngest and the oldest person
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
new_ages = sorted(ages)
print(new_ages)
print(new_ages[1:])
print(new_ages[:-1])

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25, 40]
[9, 11, 12, 13, 14, 20, 23, 24, 25]

In [82]:
# exercise 12: remove the youngest and the oldest person, try not to use max() and min() method
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
new_ages = sorted(ages)
print(new_ages)
del new_ages[0] # using del
del new_ages[-1]
print(new_ages)

[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[11, 12, 13, 14, 20, 23, 24, 25]

In [83]:
print(type(ages))
print(type(new_ages))
print(type(sorted_ages))

<class 'list'>
<class 'list'>
<class 'NoneType'>

In [84]:
#exercise 12 using pop

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
print(ages)
ages.sort()
print("Sorted", ages)
sorted_ages = []
print(sorted_ages)
print(type(sorted_ages))
sorted_ages = ages
print(sorted_ages)
print(ages.pop(0))

[20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
Sorted [9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
[]
<class 'list'>
[9, 11, 12, 13, 14, 20, 23, 24, 25, 40]
9

In [85]:
#exercise 12 using pop

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
print("original", ages)

ages.sort(reverse = True)
print("Sorted", ages)

ages.pop(0)
ages.pop(-1)

print(ages)

original [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
Sorted [40, 25, 24, 23, 20, 14, 13, 12, 11, 9]
[25, 24, 23, 20, 14, 13, 12, 11]

In [86]:
#exercise 12 using pop

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
print(type(ages))
print(ages.pop(0))
print(ages)

<class 'list'>
20
[24, 14, 9, 12, 13, 25, 23, 40, 11]

In [87]:
#exercise 12 using pop

ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
sorted_ages = ages.sort()
print(sorted_ages)
print(type(sorted_ages))
print(sorted_ages.pop(0))
print(sorted_ages)

None
<class 'NoneType'>

AttributeError: 'NoneType' object has no attribute 'pop'

In [ ]:


l = [0, 10, 20, 30, 40, 50]

print(l)
print(l.pop(0))
print(l)

print(l.pop(3))
print(l)
type(l)

[0, 10, 20, 30, 40, 50]
0
[10, 20, 30, 40, 50]
40
[10, 20, 30, 50]

list

In [ ]:
# exercise 13
berlin = [15, 13, 16, 18, 19, 10, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

list(set(berlin).intersection(munich))

[10, 13, 15, 16, 18, 19]

In [ ]:
# exercise 14
numbers = [15,13,16,15,19,15,10]
numbers = list( dict.fromkeys(numbers) )
print(numbers)

[15, 13, 16, 19, 10]

Function

In [ ]:
# exercise 15
def welcome():
    name = input("What's your name?")
    print(f"Welcome {name}, have a nice day!")

welcome()

Welcome satomi, have a nice day!

In [ ]:
# exercise 16

def get_length():
    string = input("write whatever you want!")
    print(len(string))
 
get_length()

14

In [ ]:
# exercise 17
def check_even():
    number = int(input("Write a number"))
    if number % 2 == 0:
        print(f"YES! {number} is a even number.")
    else:
        print(f"NO! {number} is not a even number.")

check_even()

YES! 40 is a even number.

In [ ]:
# exercise 18 
# write a function for exercise 11

customer_list = [
    {"name":"Bob", "age": 1999},
    {"name":"Jack", "age": 1995},
    {"name":"Lisa", "age": 2005},
    {"name":"Maria", "age": 2010},
    {"name":"Ben", "age": 2007},
    {"name":"Emma", "age": 2006},
    {"name":"Oscar", "age": 1994},
    {"name":"Amy", "age": 1996},
    {"name":"Paul", "age": 1979},
    {"name":"Etta", "age": 2008},
    
]

def name_and_age():
    for customer in customer_list:
        name = customer["name"]
        age = 2022 - customer["age"]
        print(f"{name} is {age} years old")

name_and_age()

Bob is 23 years old
Jack is 27 years old
Lisa is 17 years old
Maria is 12 years old
Ben is 15 years old
Emma is 16 years old
Oscar is 28 years old
Amy is 26 years old
Paul is 43 years old
Etta is 14 years old

In [ ]:
# execersize 18 (write a function from exercise 12)

'''ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
new_ages = sorted(ages)
print(new_ages)
print(new_ages[1:])
print(new_ages[:-1])'''

def remove_l_h():
    ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
    new_ages = sorted(ages)
    print(new_ages[1:])
    print(new_ages[:-1])

remove_l_h()

[11, 12, 13, 14, 20, 23, 24, 25, 40]
[9, 11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
new_ages = sorted(ages)
del new_ages[0] # using del
del new_ages[-1]
print(new_ages)

[11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
def remove_l_h():
    ages = [20, 24, 14, 9, 12, 13, 25, 23, 40, 11]
    new_ages = sorted(ages)
    del new_ages[0] # using del
    del new_ages[-1]
    print(new_ages)

remove_l_h()

[11, 12, 13, 14, 20, 23, 24, 25]

In [ ]:
berlin = [15, 13, 16, 18, 19, 10, 12]
munich = [7, 13, 15, 20, 19, 18, 10, 16]

list(set(berlin).intersection(munich))

[10, 13, 15, 16, 18, 19]

In [89]:
# exercise 18 (function of exercise 13)
def create_list_common_age(list1, list2):
    print(list(set(list1).intersection(list2)))

create_list_common_age([15, 13, 16, 18, 19, 10, 12], [7, 13, 15, 20, 19, 18, 10, 16])

[10, 13, 15, 16, 18, 19]

In [ ]:
# exercise 18 (function of exercise 13)
def create_list_common_age(age_list, your_age):

    return(list(set(age_list).intersection(your_age)))

print(create_list_common_age([1,2,3, 3,4,5], [2,3,3,4,5,6]))

[2, 3, 4, 5]

In [1]:
# exercise 18 (function of exercise 14)
def remove_dup():
    numbers = [15,13,16,15,19,15,10]
    numbers = list(dict.fromkeys(numbers) )
    return(numbers)

remove_dup()

[15, 13, 16, 19, 10]

In [ ]:
# exercise 19
# write a function that takes an input list and value of age to find as input and return true or false if the age value is present or not in the list'def find():

'''
def find():
    list = []
    num = int(input("Enter number of elements : "))

    for i in range(0, num):
        ele = int(input("Enter numbers: "))
        list.append(ele)
    
    print(list)

find()


'''

In [ ]:
# exercise 19

def present(ages, your_age):
    
    while your_age in ages:
        return True
        break
    else:
        return False

inlist = present( [15,13,16,15,19,15,10], 13)
print(f"Is in List: {inlist}")

inlist = present( [15,13,16,1,19,5,10], 99)
print(f"Is in List: {inlist}")

inlist = present( [], 99)
print(f"Is in List: {inlist}")

inlist = present( [99, 99], 99)
print(f"Is in List: {inlist}")

Is in List: True
Is in List: False
Is in List: False
Is in List: True